*
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

.nav-bar
{
    height: 47px;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
}

.logo
{
    height: 30px;
    margin: 5px 10px;
    cursor: pointer;
    
}

.form-control
{
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid orange;
    cursor: pointer;
    box-shadow: none;
}

.group-text
{
    background: orange;
    border: 1px solid orange;
    cursor: pointer;
    margin: 5.5px 10px 3px 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.search-box
{
    display: inline-flex;
    width: 60%;
}

.fa-search
{
    color: black;
    top:0px;
    padding: 9px;
}

.fa-search:hover
{
    color: white;
}


.menu1
{
    float: right;
    height: 47px;
    width: 40%;
   
}

.menu1 ul
{
    float: right;
    display: inline-flex;
}

.menu1 ul li
{
    background:orange;
    display: inline-flex;
    list-style-type: none;
    border-left: 1px solid white;
    padding: 10px;
    
}

.menu1 ul li a:hover
{
    color: white;
}

.menu1 ul li a
{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;  
    text-align: center;  
}

.fa-shopping-basket
{
    margin-right: 3px;
}


/*-----------------fully responsive----------------------*/

@media only screen and (max-width:980px)
{
    .nav-bar
    {
        height: 60px;
        top: 0;
        background: white;
        border-bottom: 0;
    }
    .search-box
    {
        width: 100%;
    }
    .menu1
    {
        width: 100%;
    }
    .menu1 ul
    {
        margin: 10px 0;
        width: 100%;
        
    }
    .menu1 ul li
    {
        height: 47px;
        width: 100%;
        text-align: center;
    }
}